.carousel {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 0;
  border-top: 2px solid #ffc60a;
  border-bottom: 2px solid #ffc60a;
  background-color: black;
}
.item_container {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  width: calc(100% * 10);
  gap: 80px;
}
.item_container li {
  width: 200px;
  height: 300px;
}
.item_container img {
  height: 100%;
  object-fit: cover;
}
.left_arrow {
  width: 80px;
  height: 80px;
  background-image: url(/movie/resources/img/left_arrow.png);
  background-size: 100%;
  background-color: transparent;
  border: none;
  left: 0px;
  top: calc(50% - 40px);
  position: absolute;
}
.right_arrow {
  width: 80px;
  height: 80px;
  background-image: url(/movie/resources/img/right_arrow.png);
  background-size: 100%;
  background-color: transparent;
  border: none;
  right: 0px;
  top: calc(50% - 40px);
  position: absolute;
}
.carousel button:hover {
  background-color: rgba(255, 231, 123, 0.911);
}
.carousel button:active {
  background-color: #ffc60a;
}
