<div class="carousel">
  <ul class="item_container">
    <li><img src="./img-drama/광장.webp" /></li>
    <li><img src="./img-drama/눈물의여왕.webp" /></li>
    <li><img src="./img-drama/더글로리.webp" /></li>
    <li><img src="./img-drama/모범택시.webp" /></li>
    <li><img src="./img-drama/무빙.webp" /></li>
    <li><img src="./img-drama/미스터션샤인.webp" /></li>
    <li><img src="./img-drama/미지의서울.webp" /></li>
    <li><img src="./img-drama/오징어게임.webp" /></li>
    <li><img src="./img-drama/우리들의블루스.webp" /></li>
    <li><img src="./img-drama/폭싹속았수다.webp" /></li>
  </ul>
  <button type="button" class="left_arrow"></button>
  <button type="button" class="right_arrow"></button>
</div>
