<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentaryMapper">
  <select id="select3">
    select *
    from (
    select * from commentary
    where score_c = #{score_c} and criticism = #{criticism} 
    order by c_num desc
    )
    <![CDATA[ where rownum <= 6;  ]]>
  </select>
  
  <select id="selectBySearch">

  	select *
  	from commentary
  	where 1=1
   <if test="search != null and search.trim() != ''"> 
       and (u_num LIKE '%' || #{search} || '%' 
        or criticism LIKE '%' || #{search} || '%')
   </if>
  </select>
  
  <update id="updateCommentary" >
  	update commentary
  	set u_num = {u_num}, criticism = #{criticism}, 
  	score_c = #{score_c}, writedate = #{writedate}
  	where c_num Like % || #{c_num} || %
  </update>
  
  <delete id="deleteCommentary">
  	delete from commentary
  	where c_num = #{c_num}
  </delete>
</mapper>