<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentaryMapper">
<select id="select3">
  SELECT *
  FROM (
    SELECT * FROM commentary
    WHERE score_c = #{score_c} AND criticism = #{criticism} 
    ORDER BY c_num DESC
  )
  WHERE rownum &lt;= 6;
</select>
  
  <select id="selectBySearch">
   select *
  from commentary
  where u_num LIKE CONCAT('%', #{search}, '%')
  or criticism LIKE CONCAT('%', #{search}, '%')
  </select>
</mapper>