<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.WebtoonMapper">

	<select id="selectBySearch">
  	select *
  	from webtoon
  		where  1=1
  	  	<if test="search != null and search.trim() != ''">
  	and (title LIKE '%' || #{search} || '%'
  	or writingAuthorName LIKE '%' || #{search} || '%')
  	</if>
  	</select>
  	
  	<insert id ="insertSearchResult">
  	insert into webtoon(title, thumbnail, synopsis, starScoreAverage, readCount, linkUrl, writingAuthorName)
  	values(#{title}, #{thumbnail}, #{synopsis}, #{starScoreAverage}, #{readCount}, #{linkUrl}, #{writingAuthorName})
  	</insert>
  	
  	<select id="selectByPoster">
  	select * from webtoon
  	where thumbnail = #{dramaImgUrl}
  	</select>
  	
  	<select id="selectAll">
  	select * from webtoon
  	</select>
  	
</mapper>